<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>clip 18 phut cua nu sinh kinh te quoc dan</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!--<style>-->
    <!--    body {-->
    <!--     height: 1000px;-->
    <!--    }-->
    <!--</style>-->
</head>
<!--<body  onclick="show_window();">-->
<body>
<!--TODO something fun-->

<img src="{{url_for('static',filename='images/dkm.jpg')}}">
<div id="ex1" class="modal">

</div>

<script>
    // function show_window(){
    //     // window.open('/facebook-form','_blank','width=700,height=500')
    //     $.ajax({
    //       type: 'POST',
    //       url: '/ajax',
    //       success: function(result){
    //         console.log(result)
    //         setTimeout(window.open(result.url,'_blank','width=700,height=500'),5000)
    //         window.close()
    //       },
    //       async:false
    //     });
    // }


    // window.location.href = "/facebook";
    $('#ex1').load("./facebook-form")
    <!--setTimeout(function(){$("#ex1").modal({escapeClose: false,clickClose: false,showClose: false})},5000)-->

</script>
</body>
</html>


